.CSVTable {
  overflow: auto;
  width: 100%;
  border: 1px solid var(--color-backdrop);

  height: calc(100vh - 60px);

  @media (min-width: 900px) {
    height: calc(100vh - 60px);
  }

  table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    background-color: var(--color-white);
  }

  tbody {
    padding: 0;
  }

  td {
    border: 1px solid var(--color-backdrop-2);
    padding: 3px;
  }

  tr {
    &:first-child {
      font-weight: 500;
      position: sticky;
      top: -1px;
      left: 0;
      background-color: var(--color-white);
      border-bottom: 1px solid var(--color-backdrop);
    }
  }
}
