.CSVTable {
  overflow: auto;
  width: 100%;
  border: 1px solid #bcbcbc;

  @media (min-width: 900px) {
    height: calc(100vh - 70px);
    margin-top: 40px;
  }

  table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
  }

  tbody {
    padding: 0;
  }

  td {
    border: 1px solid #bcbcbc;
    padding: 3px;
  }
}
