.ToolbarDesktop {
  padding: 0 8px;
  display: none;
  align-items: center;
  height: 30px;
  width: 100vw;

  @media (min-width: 900px) {
    display: flex;
  }
}

.ToolbarItem {
  display: inline-flex;
  cursor: pointer;
  height: 25px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-black);
  align-items: center;
  border: none;
  background-color: transparent;
  margin-right: 8px;
  border-radius: 3px;

  &:hover {
    background-color: var(--color-hover-safe);
  }

  section {
    display: flex;
    align-items: center;
    height: 100%;
  }

  svg {
    width: 16px;
    height: 16px;
    margin-right: 3px;
  }
}

.SettingsMenu {
  ul {
    left: -83px;
    top: 13px;
  }
}
